package auth

import "shmoopicks/src/internal/core/templates"

type LoginPageProps struct {
	authUrl string
}

templ LoginPage(props LoginPageProps) {
	@templates.RootComponent(templates.RootProps{
		Title: templates.CreatePageTitle("Dashboard"),
	}) {
		@templates.NavBarComponent(templates.NaveBarProps{
			ActivePage: templates.HomePage,
		})
		<div class="p-5">
			<a href={ props.authUrl }>
				<button class="btn btn-primary">Login</button>
			</a>
		</div>
	}
}
