package auth

import (
	"shmoopicks/src/internal/core/templates"
	"shmoopicks/src/internal/core/utils"
)

templ LoginPage() {
	@templates.RootComponent(templates.RootProps{
		Title: utils.CreatePageTitle("Dashboard"),
	}) {
		@templates.NavBarComponent(templates.NaveBarProps{
			ActivePage: templates.HomePage,
		})
		Login
	}
}
